Source: flags
Section: universe/misc
Priority: optional
Maintainer: Linux Mint <root@linuxmint.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: flags-iso-4x3-svg
Architecture: all
Description: A 4x3 flag collection in SVG format
 A 4x3 flag collection in SVG format.
